In [2]:
import pandas as pd
import sys
import os.path

In [3]:
# Create the path for accessing the db.py file in dataImport
path = os.path.join(
    os.path.abspath(os.path.join(os.getcwd(), os.pardir, os.pardir)),
    'model', 'dataImport'
)
sys.path.insert(0, path)

import db

In [4]:
df = db.getDataFrame()

In [8]:
df.head()

,datetime,city,country,latitude,longitude,temperature,humidity,pressure,weather_description,wind_direction,wind_speed
0,2012-10-01 13:00:00,Portland,United States,45.523449,-122.676208,282.08,81.0,1024.0,scattered clouds,0.0,0.0
1,2012-10-01 13:00:00,San Francisco,United States,37.774929,-122.419418,289.48,88.0,1009.0,light rain,150.0,2.0
2,2012-10-01 13:00:00,Seattle,United States,47.606209,-122.332069,281.80,81.0,1027.0,sky is clear,0.0,0.0
3,2012-10-01 13:00:00,Los Angeles,United States,34.052231,-118.243683,291.87,88.0,1013.0,mist,0.0,0.0
4,2012-10-01 13:00:00,San Diego,United States,32.715328,-117.157257,291.53,82.0,1013.0,sky is clear,0.0,0.0

In [6]:
#OneHotEncoding

from sklearn.preprocessing import OneHotEncoder

#double brackets, inner show it is a list. outer show it is indexing and returns a panda data frame
catagorCol = df[['weather_description']]

cat_encoder = OneHotEncoder(sparse = False)   #this is substantiation an object of the OneHotEncoder class
housing_cat_1hot = cat_encoder.fit_transform(catagorCol)

#or

dfFeatures = pd.get_dummies(df, columns = ['weather_description'], drop_first = True)  #change drop first to a more useless one

# This removes the columns titled 'Example' and'Class_pos' from the dataframe
dfFeatures = dfFeatures.drop(['wind_speed'], axis = 1);   # do I need this semicolon?

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# Scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
dfPreped = scaler.fit_transform(df)

In [19]:
#time stamp

#should we two different data frames for day and night? Do we create new catagories night and day, each with time from 0 - 7?

night = []
morn = df ['datetime']
count = 0
for i in morn[0:100]:
    value = i.split(":")
    value = value[0]
    value = value.split(" ")
    value = int(value[1])
    if value < 7 or value > 14:
        morn = morn.drop(count)
        night.append([value]) # might not want
    count = count + 1
df = pd.DataFrame(night, columns = ['night'])  # this would create new dataframe, maybe don't want

morn.tail()

1201899    2017-11-30 00:00:00
1201900    2017-11-30 00:00:00
1201901    2017-11-30 00:00:00
1201902    2017-11-30 00:00:00
1201903    2017-11-30 00:00:00
Name: datetime, dtype: object

In [12]:
questions: need to import DataFrame? Need to download sklearn libary? colab does not work?

0    2012-10-01 13:00:00
1    2012-10-01 13:00:00
3    2012-10-01 13:00:00
4    2012-10-01 13:00:00
5    2012-10-01 13:00:00
Name: datetime, dtype: object