In [1]:
from model.data.pipeline import aggregate
from model.data.pipeline import utils as ut
from model.data.pipeline import sql_strings as sql

In [12]:
df = ut.load_sql_as_df(sql.AGG_TEMPERATURE)
df

            city month  temperature
0    Albuquerque    01   270.272182
1    Albuquerque    02   273.247977
2    Albuquerque    03   277.633500
3    Albuquerque    04   281.128437
4    Albuquerque    05   285.056028
..           ...   ...          ...
319      Seattle    08   288.256538
320      Seattle    09   285.754826
321      Seattle    10   282.342478
322      Seattle    11   279.136062
323      Seattle    12   276.501070

[324 rows x 3 columns]

In [13]:
df = df.set_index(['city', 'month'])

In [15]:
s = df['temperature']

In [17]:
s

city         month
Albuquerque  01       270.272182
             02       273.247977
             03       277.633500
             04       281.128437
             05       285.056028
                         ...
Seattle      08       288.256538
             09       285.754826
             10       282.342478
             11       279.136062
             12       276.501070
Name: temperature, Length: 324, dtype: float64