In [1]:
from model.data.pipeline import aggregate

In [2]:
df = aggregate.get_agg_data_frame()
df

                   temperature   humidity     pressure  wind_speed      rain  \
city        month
Albuquerque 01      270.272182  66.064693  1017.595395    2.158991  0.031950
            02      273.247977  59.198556  1002.113117    2.110710  0.034483
            03      277.633500  46.305921  1022.492325    2.372807  0.039103
            04      281.128437  42.245241  1017.913774    2.674132  0.055383
            05      285.056028  44.270997  1018.783875    2.422172  0.105337
...                        ...        ...          ...         ...       ...
Seattle     08      288.256538  81.549462  1021.889247    1.472043  0.082796
            09      285.754826  87.371111  1019.393333    1.695556  0.211448
            10      282.342478  91.931655  1020.478417    2.010791  0.321855
            11      279.136062  90.236620  1020.972770    2.179343  0.305517
            12      276.501070  87.659760  1020.765540    2.310796  0.345034

                       snow     cloud       fog  extreme_weather
city        month
Albuquerque 01     0.053250  0.519661  0.011742         0.000546
            02     0.023988  0.570315  0.003298         0.004798
            03     0.000820  0.586546  0.000273         0.003828
            04     0.003391  0.656683  0.006499         0.005369
            05     0.000843  0.638483  0.000843         0.023596
...                     ...       ...       ...              ...
Seattle     08     0.000000  0.383602  0.089247         0.046505
            09     0.000000  0.529869  0.103918         0.022228
            10     0.000000  0.623002  0.132118         0.013504
            11     0.003273  0.587424  0.153109         0.019635
            12     0.004898  0.615238  0.201088         0.026939

[324 rows x 9 columns]