In [1]:
from model.data.pipeline import aggregate
from model.data.pipeline import utils as ut
from model.data.pipeline import sql_strings as sql

In [2]:
df = aggregate.get_agg_data_frame()
df

                       rain      snow     cloud       fog  extreme_weather
city        month
Albuquerque 01     0.031950  0.053250  0.519661  0.011742         0.000546
            02     0.034483  0.023988  0.570315  0.003298         0.004798
            03     0.039103  0.000820  0.586546  0.000273         0.003828
            04     0.055383  0.003391  0.656683  0.006499         0.005369
            05     0.105337  0.000843  0.638483  0.000843         0.023596
...                     ...       ...       ...       ...              ...
Seattle     08     0.082796  0.000000  0.383602  0.089247         0.046505
            09     0.211448  0.000000  0.529869  0.103918         0.022228
            10     0.321855  0.000000  0.623002  0.132118         0.013504
            11     0.305517  0.003273  0.587424  0.153109         0.019635
            12     0.345034  0.004898  0.615238  0.201088         0.026939

[324 rows x 5 columns]