In [2]:
from model.data.pipeline import aggregate

In [3]:
df = aggregate.get_agg_data_frame()
df

,city,year,month,temperature,humidity,pressure,wind_speed,rain,snow,cloud,fog,extreme_weather
0,Albuquerque,2012,10,282.594630,40.870130,1017.681818,1.980519,0.006431,0.000000,0.456592,0.000000,0.000000
1,Albuquerque,2012,11,276.787692,44.012821,994.980769,1.801282,0.019802,0.001650,0.526403,0.003300,0.003300
2,Albuquerque,2012,12,271.423110,55.940476,1010.517857,1.821429,0.010401,0.001486,0.754829,0.001486,0.004458
3,Albuquerque,2013,01,268.405723,57.488372,999.837209,2.453488,0.036023,0.002882,0.576369,0.011527,0.001441
4,Albuquerque,2013,02,271.623359,54.910256,953.775641,2.275641,0.011024,0.007874,0.587402,0.001575,0.009449
...,...,...,...,...,...,...,...,...,...,...,...,...
1666,Seattle,2017,07,286.727283,84.059140,1020.053763,1.607527,0.020161,0.000000,0.442204,0.081989,0.000000
1667,Seattle,2017,08,287.951183,84.413978,1017.043011,1.553763,0.025538,0.000000,0.302419,0.290323,0.106183
1668,Seattle,2017,09,285.830661,87.100000,1015.833333,1.738889,0.181944,0.000000,0.465278,0.226389,0.043056
1669,Seattle,2017,10,280.271667,92.629032,1019.784946,2.048387,0.231183,0.000000,0.475806,0.314516,0.002688
1670,Seattle,2017,11,279.698276,89.442529,1012.833333,3.011494,0.394548,0.010043,0.727403,0.255380,0.001435