In [46]:
import pandas as pd

In [47]:
wind = pd.read_csv('wind_speed.csv')
humidity = pd.read_csv('humidity.csv')
pressure = pd.read_csv('temperature.csv')
city = pd.read_csv('city_attributes.csv')
weather = pd.read_csv('weather_description.csv')

In [54]:
windMorn = wind.copy()
time = windMorn ['datetime']
row count = 0
for i in time[0:10]:
    value = i.split(":")
    value = value[0]
    value = value.split(" ")
    value = value[1]
    if value < 7 or value > 14:
        windMorn = windMorn.drop(count)
    count = count + 1
    print(value)

12
13
14
15
16
17
18
19
20
21

In [72]:
windMorn = wind.copy()
windMorn = windMorn[0:100]
time = windMorn ['datetime']
rowCount = 0
for i in time:
    value = i.split(":")
    value = value[0]
    value = value.split(" ")
    value = int(value[1])
    if (value < 7) or (value >= 14):
        windMorn = windMorn.drop(rowCount)
    rowCount = rowCount + 1
    
print(windMorn)

               datetime  Vancouver  Portland  San Francisco  Seattle  \
0   2012-10-01 12:00:00        NaN       NaN            NaN      NaN
1   2012-10-01 13:00:00        0.0       0.0            2.0      0.0
19  2012-10-02 07:00:00        0.0       1.0            0.0      0.0
20  2012-10-02 08:00:00        0.0       1.0            0.0      0.0
21  2012-10-02 09:00:00        0.0       1.0            0.0      0.0
22  2012-10-02 10:00:00        0.0       1.0            0.0      0.0
23  2012-10-02 11:00:00        0.0       1.0            0.0      0.0
24  2012-10-02 12:00:00        0.0       1.0            0.0      0.0
25  2012-10-02 13:00:00        0.0       2.0            0.0      0.0
43  2012-10-03 07:00:00        0.0       3.0            1.0      2.0
44  2012-10-03 08:00:00        0.0       1.0            4.0      2.0
45  2012-10-03 09:00:00        0.0       4.0            0.0      0.0
46  2012-10-03 10:00:00        0.0       4.0            0.0      0.0
47  2012-10-03 11:00:00        0.0       4.0            0.0      0.0
48  2012-10-03 12:00:00        0.0       3.0            0.0      0.0
49  2012-10-03 13:00:00        0.0       3.0            0.0      0.0
67  2012-10-04 07:00:00        0.0       0.0            0.0      8.0
68  2012-10-04 08:00:00        1.0       0.0            2.0      8.0
69  2012-10-04 09:00:00        3.0       0.0            3.0      3.0
70  2012-10-04 10:00:00        0.0       1.0            4.0      8.0
71  2012-10-04 11:00:00        3.0       1.0            3.0      2.0
72  2012-10-04 12:00:00        1.0       2.0            5.0      3.0
73  2012-10-04 13:00:00        3.0       0.0            5.0      1.0
91  2012-10-05 07:00:00        1.0       3.0            2.0      3.0
92  2012-10-05 08:00:00        0.0       0.0            1.0      6.0
93  2012-10-05 09:00:00        0.0       1.0            2.0      3.0
94  2012-10-05 10:00:00        0.0       3.0            2.0      1.0
95  2012-10-05 11:00:00        0.0       4.0            0.0      0.0
96  2012-10-05 12:00:00        0.0       3.0            0.0      2.0
97  2012-10-05 13:00:00        0.0       2.0            3.0      1.0

    Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque  ...  \
0           NaN        NaN        NaN      NaN          NaN  ...
1           0.0        0.0        0.0      2.0          4.0  ...
19          0.0        0.0        1.0      0.0          4.0  ...
20          0.0        0.0        1.0      0.0          4.0  ...
21          0.0        0.0        1.0      0.0          4.0  ...
22          0.0        0.0        1.0      0.0          4.0  ...
23          0.0        0.0        1.0      0.0          4.0  ...
24          0.0        0.0        1.0      0.0          4.0  ...
25          0.0        0.0        2.0      0.0          4.0  ...
43          0.0        0.0        2.0      1.0          5.0  ...
44          0.0        0.0        0.0      0.0          0.0  ...
45          0.0        0.0        0.0      0.0          4.0  ...
46          0.0        0.0        1.0      0.0          2.0  ...
47          0.0        0.0        0.0      0.0          0.0  ...
48          0.0        0.0        2.0      2.0          1.0  ...
49          0.0        0.0        3.0      1.0          3.0  ...
67          1.0        0.0        2.0      0.0          0.0  ...
68          0.0        0.0        2.0      0.0          0.0  ...
69          0.0        0.0        1.0      0.0          0.0  ...
70          0.0        0.0        3.0      0.0          0.0  ...
71          0.0        0.0        0.0      0.0          1.0  ...
72          0.0        0.0        1.0      0.0          2.0  ...
73          0.0        0.0        3.0      0.0          3.0  ...
91          3.0        1.0        4.0      3.0          4.0  ...
92          5.0        0.0        5.0      4.0          5.0  ...
93          2.0        0.0        3.0      3.0          4.0  ...
94          0.0        0.0        2.0      2.0          4.0  ...
95          0.0        0.0        2.0      0.0          3.0  ...
96          0.0        2.0        2.0      0.0          2.0  ...
97          0.0        0.0        2.0      0.0          2.0  ...

    Philadelphia  New York  Montreal  Boston  Beersheba  Tel Aviv District  \
0            NaN       NaN       NaN     NaN        NaN                NaN
1            4.0       7.0       4.0     3.0        1.0                0.0
19           2.0       6.0       1.0     3.0        2.0                2.0
20           2.0       6.0       1.0     3.0        2.0                2.0
21           2.0       6.0       0.0     3.0        2.0                2.0
22           1.0       5.0       0.0     3.0        2.0                2.0
23           1.0       5.0       0.0     3.0        2.0                3.0
24           1.0       5.0       0.0     3.0        2.0                3.0
25           1.0       5.0       0.0     3.0        2.0                3.0
43           1.0       2.0       2.0     3.0        3.0                1.0
44           0.0       0.0       0.0     3.0        2.0                3.0
45           1.0       0.0       3.0     6.0        0.0                2.0
46           1.0       0.0       2.0     3.0        0.0                2.0
47           0.0       0.0       2.0     3.0        1.0                6.0
48           1.0       1.0       2.0     4.0        1.0                6.0
49           2.0       2.0       3.0     6.0        1.0                5.0
67           2.0       0.0       1.0     4.0        0.0                3.0
68           0.0       2.0       1.0     2.0        1.0                3.0
69           0.0       0.0       1.0     2.0        1.0                3.0
70           1.0       2.0       2.0     2.0        2.0                4.0
71           1.0       2.0       0.0     1.0        1.0                2.0
72           0.0       2.0       2.0     3.0        1.0               10.0
73           0.0       0.0       2.0     1.0        2.0                2.0
91           0.0       0.0       3.0     2.0        2.0                1.0
92           0.0       0.0       3.0     2.0        1.0                0.0
93           0.0       0.0       3.0     2.0        1.0                1.0
94           0.0       0.0       2.0     2.0        1.0                2.0
95           2.0       0.0       0.0     2.0        1.0                2.0
96           0.0       0.0       3.0     2.0        6.0                4.0
97           0.0       2.0       3.0     1.0        2.0                4.0

    Eilat  Haifa  Nahariyya  Jerusalem
0     8.0    NaN        NaN        NaN
1     8.0    2.0        2.0        2.0
19    9.0    2.0        2.0        2.0
20    9.0    2.0        2.0        2.0
21    9.0    2.0        2.0        2.0
22    9.0    2.0        2.0        2.0
23    9.0    2.0        2.0        2.0
24    9.0    2.0        2.0        2.0
25    9.0    2.0        2.0        2.0
43    7.0    3.0        3.0        0.0
44    6.0    3.0        3.0        0.0
45    5.0    3.0        3.0        0.0
46    8.0    3.0        3.0        0.0
47    6.0    3.0        3.0        0.0
48    7.0    4.0        5.0        2.0
49    7.0    5.0        5.0        4.0
67    7.0    4.0        4.0        3.0
68    6.0    4.0        4.0        3.0
69    6.0    4.0        4.0        3.0
70    6.0    4.0        4.0        3.0
71    6.0    4.0        4.0        3.0
72    7.0    3.0        3.0        4.0
73    7.0    3.0        3.0        4.0
91    7.0    3.0        3.0        2.0
92    7.0    3.0        3.0        2.0
93    7.0    3.0        3.0        2.0
94    8.0    3.0        3.0        2.0
95    9.0    3.0        3.0        2.0
96    9.0    4.0        4.0        4.0
97    9.0    4.0        4.0        4.0

[30 rows x 37 columns]

In [49]:
#figure out how to create a date object from some string using a formater in python

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,4.0,7.0,4.0,3.0,1.0,0.0,8.0,2.0,2.0,2.0
2,2012-10-01 14:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,4.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
3,2012-10-01 15:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
4,2012-10-01 16:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,2.0,NaN,4.0,1.0,2.0,1.0,3.0,1.0,...,5.0,NaN,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,1.0,NaN,5.0,1.0,1.0,1.0,1.0,1.0,...,5.0,NaN,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,1.0,NaN,5.0,1.0,2.0,1.0,2.0,1.0,...,3.0,NaN,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,2.0,NaN,3.0,2.0,2.0,0.0,3.0,1.0,...,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,1.0,NaN,4.0,1.0,2.0,1.0,2.0,2.0,...,4.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
"""
Features:
	Remove unnecessary features: pressure, wind direction, cities outside the U.S.
Separate all features into day ( 7 am - 7 pm) and night (7pm - 7am) categories
	For all numerical features (humidity, temperature, wind speed) get standard deviation, max, min, and the average for the daytime and nighttime of each day.
	For categorical features weather description, one hot encode?
	Redistribute dates into months or half months categories? (just thinking that some months have vast changes through their course, such as march, so half months may make our data more accurate)
	Labels will be the cities
	Add features: if the region is landlocked, how mountainous is it, population density. (find data set or hard code it in). Possibly add if we think we need better accuracy

"""