In [2]:
import pandas as pd
import sys
import os.path

In [7]:
# Create the path for accessing the db.py file in dataImport
path = os.path.join(
    os.path.abspath(os.path.join(os.getcwd(), os.pardir, os.pardir)),
    'model', 'dataImport'
)
sys.path.insert(0, path)

import db

In [8]:
df = db.getDataFrame()

In [11]:
df.tail()

,datetime,city,temperature,humidity,pressure,weather_description,wind_direction,wind_speed
1629103,2017-11-30 00:00:00,Tel Aviv District,,,,,,
1629104,2017-11-30 00:00:00,Eilat,,,,,,
1629105,2017-11-30 00:00:00,Haifa,,,,,,
1629106,2017-11-30 00:00:00,Nahariyya,,,,,,
1629107,2017-11-30 00:00:00,Jerusalem,,,,,,